build/
*.o
*.bin
__pycache__/
venv/
.vscode/
.idea/
main
data/*.csv
data/snap/
data/tests_real_result/*
!data/tests_real_result/.gitkeep
data_6_*
data/web-Google.txt
data_7_*
data/soc-LiveJournal1.txt
